body{
    background-color: $SolidBackgroundFillColorBase;
    background-image: url(https://takosthings.github.io/Fluent-Discord/img/Captured_Motion_27.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include FontNormal;
    @include TypeBody;
    color: $TextFillColorPrimary;
}

.shell{
    width: 100%;
    height: 100%;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

code{
    background-color: $TextFillColorDisabled;
    padding: 0 4px;
    border-radius: 4px;
}
code.codeblock{
    white-space: pre-line;
    display: block;
    overflow-x: auto;
    text-indent: 1px;
    padding: 0.5em;
}

*,
::before,
::after{
    box-sizing: border-box;
}
